<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Edit Species</h1>
    </div>
  </div>
</section>

<%= render 'species_form', species: @species %>
