<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Species List</h1>
    </div>
  </div>
</section>
<div>
  <p> Common Name - Scientific Name - Shallow Depth - Deep Depth </p><p>----------</p>
  <% @species.each do |s| %>
  <p><%= s.common_name %> - 
    <%= s.scientific_name %> - 
    <%= s.shallow_depth %> - 
    <%= s.deep_depth %> </p>
  <p>----------</p>
  <% end %>
<div>