<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Edit Entry</h1>
    </div>
  </div>
</section>

<div class="section-indent m-md">
  <div class="container has-text-dark">
    <%= form_for(@record)  do |f| %>

    <%=render 'form', f: f %>

    <div class="field">
      <%= f.submit "Submit", :class =>"button is-primary has-text-weight-bold" %>
    </div>

    <% end %>
  </div>
</div>