<div class="tile is-ancester">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child is-primary">
          <h2 class="title is-2 has-text-weight-bold has-text-dark">Forecast Sites</h2>
          <ul>
            <li><a class="button is-light has-text-weight-bold m-sm" href="https://windy.app/forecast2/spot/609365/Buzzards+bay+buoy">Windy.app</a></li>
            <li><a class="button is-light has-text-weight-bold m-sm" href="https://www.weather.gov/marine/boxmz"> NOAA Boston Area Marine Forecast<a/></li>
            <li><a class="button is-light has-text-weight-bold m-sm" href="https://www.wunderground.com/">Weather Underground</a></li>
            <li><a class="button is-light has-text-weight-bold m-sm" href="https://www.windy.com/?41.538,-70.794,11">Windy.com</a></li>
            <li><a class="button is-light has-text-weight-bold m-sm" href=https://marineweather.net/coastal/buzzards-bay-coastal-forecast>MarineWeather.net</a></li>
          </ul>
        </article>
        
        <article class="tile is-child">
          <p class="m-lg">A fishing log takes a lot of effort.  A good record can take several hours once all the different websites have been visited.  
          <p class="m-lg"> Today's fisherman; with the advent of fish-finders, GPS navigation, advanced chirp radar, down-scan and side-scan sonar, and others has become MUCH more tech savvy and having a logbook that responds to this is only natural.<p> 
          <p class="m-lg">Enter The Fishing Log, your way to record, and later find, your data easily.</p>
        </article>

      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child is-primary p-md">
          <figure class="image">
            <%= image_tag "striped_bass.jpg" %>
          </figure>
          <h2 class=" title is-2 has-text-weight-bold">Fishing Reports</h2>
          <ul>
            <li><a class="button is-light has-text-weight-bold m-sm" href="https://www.onthewater.com/fishing-reports">On the Water</a></li>
            <li><a class="button is-light has-text-weight-bold m-sm" href="https://saltycape.com/buzzards-bay/">Salty Cape</a></li>
            <li><a class="button is-light has-text-weight-bold m-sm" href="http://www.thefisherman.com/index.cfm?fuseaction=directory.category&PDIR=27">The Fisherman</a></li>
          </ul>

          <figure class="image is-1by1 m-t-xl">
            <%= image_tag "unsplash.jpg" %>
          </figure>

        </article>
        <article class="tile is-child">

        </article>

      </div>
    </div>   
      
    <div class="tile is-parent is-8">
      <article class="tile is-child">
        
      </article>
    </div>
    
  </div>
</div>
