<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1>Welcome <%= @email %>!</h1>
    </div>
  </div>

  <container class="m-lg p-lg">
    <p>You can confirm your account email through the link below:</p>

    <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
  </container>
</section>