<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1>Hello <%= @resource.email %>!</h1>
    </div>
  </div>

  <container class="m-lg p-lg">

    <p>We're contacting you to notify you that your password has been changed.</p>
  </container>
</section>
